<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <stringAttribute key="configurationName" value="Workers_stop_when_queue_is_empty_SnapShot_1599671810129"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="172.18.0.1"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="64"/>
    <intAttribute key="maxHeapSize" value="80"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="work_done, abort, current_job, pc, queue, nodes"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeInvariant"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Termination"/>
        <listEntry value="1EventuallyQueueIsConsumed"/>
        <listEntry value="1NoWorkIsDoneTwice"/>
        <listEntry value="1EitherWeAbortOrThereAreNoErrors"/>
    </listAttribute>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Workers;;2;0;0"/>
        <listEntry value="Nodes;;5;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <stringAttribute key="modelPropertiesExpand" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="45"/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="Crane_BuildGraphExecution"/>
    <stringAttribute key="tlcResourcesProfile" value="local most"/>
    <listAttribute key="traceExploreExpressions"/>
    <setAttribute key="traceExploreExtends"/>
    <stringAttribute key="view" value=""/>
</launchConfiguration>
